@page "/u/{ownerSlug:slug}/{modSlug:slug}/{versionNumber:semver?}"
@using Disunity.Store.Entities
@model Disunity.Store.Pages.Mods.Details
@addTagHelper *, Syncfusion.EJ2

<h1>
    @Model.ModVersion.DisplayName <small>by @Model.ModVersion.Mod.Owner.DisplayName</small>
</h1>

<div id="detailsBlock" class="pb-2">
    <table class="table table-headless">
        <tbody>
        <tr>
            <td>Latest Updated</td>
            <td>@Html.DisplayFor(m => m.ModVersion.CreatedAt)</td>
        </tr>
        <tr>
            <td>Total Downloads</td>
            <td>@Model.ModVersion.Downloads</td>
        </tr>
        </tbody>
    </table>
    <div class="d-flex flex-row">
        <a href="/u/@Model.OwnerSlug/@Model.ModSlug/@Model.ModVersion.VersionNumber/download" class="flex-grow-1 d-flex flex-row">
            <ejs-button id="downloadButton" content="Download" isPrimary="true" cssClass="e-primary flex-grow-1"></ejs-button>
        </a>
    </div>
</div>

<div style="display: none">
    <div id="readmeBlock">
        <markdown markdown="ModVersion.Readme"/>
    </div>
</div>

<div style="display: none">
    <div id="dependentsBlock">
        @if (Model.ModVersion.Dependencies.Any()) {
            <h5>Mods that require this mod</h5>
            <partial name="_ModVersionListPartial" model="@Model.Dependants.Where(d => d.DependencyType == ModDependencyType.Dependency).Select(d => d.Dependant)"/>
        }
        @if (Model.ModVersion.OptionalDependencies.Any()) {
            <h5>Mods optionally compatible with this mod</h5>
            <partial name="_ModVersionListPartial" model="@Model.Dependants.Where(d => d.DependencyType == ModDependencyType.OptionalDependency).Select(d => d.Dependant)"/>
        }
        @if (Model.ModVersion.Dependencies.Any()) {
            <h5>Mods incompatible with this mod</h5>
            <partial name="_ModVersionListPartial" model="@Model.Dependants.Where(d => d.DependencyType == ModDependencyType.Incompatible).Select(d => d.Dependant)"/>
        }
        @if (!Model.ModVersion.Dependencies.Any()) {
            <p>No mods depend on this mod</p>
        }
    </div>
</div>

<div style="display: none">
    <div id="dependenciesBlock">
        @if (Model.ModVersion.Dependencies.Any()) {
            <h5>Required Dependencies</h5>
            <partial name="_ModVersionListPartial" model="@Model.ModVersion.Dependencies.Select(d => d.Dependency)"/>
        }
        @if (Model.ModVersion.OptionalDependencies.Any()) {
            <h5>Optional Dependencies</h5>
            <partial name="_ModVersionListPartial" model="@Model.ModVersion.OptionalDependencies.Select(d => d.Dependency)"/>
        }
        @if (Model.ModVersion.Dependencies.Any()) {
            <h5>Incompatibilites</h5>
            <partial name="_ModVersionListPartial" model="@Model.ModVersion.Incompatibilities.Select(d => d.Dependency)"/>
        }
        @if (!Model.ModVersion.Dependencies.Any()) {
            <p>None!</p>
        }
    </div>
</div>

<div style="display: none">
    <div id="versionsBlock">
        <partial name="_ModVersionListPartial" for="ModVersion.Mod.Versions"/>
    </div>
</div>

<ejs-accordion id="ParentNested" expandMode="Multiple">
    <e-accordion-accordionitems>
        @* <e-accordion-accordionitem header="Details" expanded="false" content="#detailsBlock"></e-accordion-accordionitem> *@
        <e-accordion-accordionitem header="Readme" expanded="true" content="#readmeBlock"></e-accordion-accordionitem>
        <e-accordion-accordionitem header="Dependencies" expanded="false" content="#dependenciesBlock"></e-accordion-accordionitem>
        <e-accordion-accordionitem header="Dependents" expanded="false" content="#dependentsBlock"></e-accordion-accordionitem>
        <e-accordion-accordionitem header="Versions" expanded="false" content="#versionsBlock"></e-accordion-accordionitem>
    </e-accordion-accordionitems>
</ejs-accordion>